/bin/Debug/netcoreapp2.2/DataStructure.deps.json
/bin/Debug/netcoreapp2.2/DataStructure.dll
/bin/Debug/netcoreapp2.2/DataStructure.pdb
/obj/Debug/DataStructure.1.0.0.nuspec
/obj/Debug/netcoreapp2.2/DataStructure.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.2/DataStructure.dll
/obj/Debug/netcoreapp2.2/DataStructure.pdb
DataStructure.csproj
DataStructure.sln
.idea/.idea.DataStructure/.idea/.gitignore
/DataStructure/obj/Debug/DataStructure.1.0.0.nuspec
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.AssemblyInfo.cs
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.AssemblyInfoInputs.cache
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.assets.cache
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.csproj.CoreCompileInputs.cache
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.csproj.FileListAbsolute.txt
/DataStructure/obj/DataStructure.csproj.nuget.cache
/DataStructure/obj/DataStructure.csproj.nuget.dgspec.json
/DataStructure/obj/DataStructure.csproj.nuget.g.props
/DataStructure/obj/DataStructure.csproj.nuget.g.targets
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.csprojAssemblyReference.cache
/DataStructure/bin/Debug/netcoreapp2.2/DataStructure.deps.json
/DataStructure/bin/Debug/netcoreapp2.2/DataStructure.dll
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.dll
/Test/bin/Debug/netcoreapp3.1/DataStructure.dll
/DataStructure/bin/Debug/netcoreapp2.2/DataStructure.pdb
/DataStructure/obj/Debug/netcoreapp2.2/DataStructure.pdb
/Test/bin/Debug/netcoreapp3.1/DataStructure.pdb
/DataStructure.sln.DotSettings.user
/Test/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/DataStructure/bin/Debug/NlpToolkit-DataStructure.1.0.1.nupkg
/DataStructure/obj/Debug/NlpToolkit-DataStructure.1.0.1.nuspec
/Test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/Test/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
/Test/bin/Debug/netcoreapp3.1/nunit.engine.dll
/Test/bin/Debug/netcoreapp3.1/nunit.framework.dll
/Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
/Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
/Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/DataStructure/obj/project.assets.json
/Test/obj/project.assets.json
/DataStructure/obj/project.nuget.cache
/Test/obj/project.nuget.cache
/DataStructure/obj/project.packagespec.json
/Test/obj/project.packagespec.json
/Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
/Test/obj/Debug/netcoreapp3.1/Test.AssemblyInfo.cs
/Test/obj/Debug/netcoreapp3.1/Test.AssemblyInfoInputs.cache
/Test/obj/Debug/netcoreapp3.1/Test.assets.cache
/Test/obj/Debug/netcoreapp3.1/Test.csproj.CopyComplete
/Test/obj/Debug/netcoreapp3.1/Test.csproj.CoreCompileInputs.cache
/Test/obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
/Test/obj/Test.csproj.nuget.dgspec.json
/Test/obj/Test.csproj.nuget.g.props
/Test/obj/Test.csproj.nuget.g.targets
/Test/obj/Debug/netcoreapp3.1/Test.csprojAssemblyReference.cache
/Test/bin/Debug/netcoreapp3.1/Test.deps.json
/Test/bin/Debug/netcoreapp3.1/Test.dll
/Test/obj/Debug/netcoreapp3.1/Test.dll
/Test/obj/Debug/netcoreapp3.1/Test.genruntimeconfig.cache
/Test/bin/Debug/netcoreapp3.1/Test.pdb
/Test/obj/Debug/netcoreapp3.1/Test.pdb
/Test/bin/Debug/netcoreapp3.1/Test.runtimeconfig.dev.json
/Test/bin/Debug/netcoreapp3.1/Test.runtimeconfig.json
/Test/bin/Debug/netcoreapp3.1/testhost.dll
DataStructure/bin/Debug/NlpToolkit-DataStructure.1.0.0.nupkg
DataStructure/obj/rider.project.restore.info
DataStructure/obj/Debug/NlpToolkit-DataStructure.1.0.0.nuspec
DataStructure/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Test/obj/rider.project.restore.info
Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
