/bin/Debug/netcoreapp2.2/DataStructure.deps.json
/bin/Debug/netcoreapp2.2/DataStructure.dll
/bin/Debug/netcoreapp2.2/DataStructure.pdb
/obj/Debug/DataStructure.1.0.0.nuspec
/obj/Debug/netcoreapp2.2/DataStructure.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.2/DataStructure.dll
/obj/Debug/netcoreapp2.2/DataStructure.pdb
DataStructure.csproj
DataStructure.sln
.idea/.idea.DataStructure/.idea/.gitignore
